{% extends 'base.html' %}
{% load static %}

{% block title %} Payment {% endblock %}

{% block content %}
<section>
  <!--====== Breadcamb Start ======-->
  <div class="breadcamb_area">
    <div class="page_head_bg">
      <div class="page_head">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page_head_section ptb-70">
                <div class="ph_title">
                  <h2>Convocotion Registration</h2>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== Breadcamb End ======-->

  <div class="payment_info">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">

          {% for s in obj %}
          <form action="{% url 'api:update' s.s_id %}" method ="POST" enctype='multipart/form-data'>
              
                {% csrf_token %}
          <div class="form-group">
            <label for="message">Student Name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{s.std_full_name | safe}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Student ID:</label>
            <input type="Text" id="sid" name="sid" class="form-control" value="{{s.s_id | safe}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Email:</label>
            <input type="text" id="email" name="email" class="form-control" value="{{s.email}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Cell Phone:</label>
            <input type="text" id="phone" name="phone" class="form-control" value="{{s.Cell_Phone | safe}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Department:</label>
            <input type="text" id="dept" name="dept" class="form-control" value="{{s.p_usename | safe}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Intake:</label>
            <input type="text" id="intake" name="intake" class="form-control" value="{{s.intake | safe}}" readonly>
          </div>
          {% if not s.degree_2_id %}
          <div class="form-group">
            <label for="message">Second Mejor ID:</label>
            <input type="text" id="ssid" name="ssid" class="form-control" value="{{s.degree_2_id | safe}}" readonly>
          </div>
          {% endif %}

          <div class="form-group">
            <label for="message">Total Paid:</label>
            <input type="Text" id="totalPaid" name="totalPaid" class="form-control" value="{{s.totalPaid | safe}}" readonly>
          </div>
          <div class="form-group">
            <label for="message">Tranxition ID:</label>
            <input type="Text" id="tid" name="tid" class="form-control" value="{{s.tranId | safe}}" readonly>
          </div>
                <label for="message"class="form-label">Photo:</label>
                <input type="File" required name="img" class="form-control" oninput= "pic.src=window.URL.createObjectURL(this.files[0])"">
                <img id="pic" src="" width="200px" height="240px"/>
              
                <button type="submit" class="btn btn-primary">Upload</button>
                    {% if uploaded_file_url %}
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}

              <p><a href="{% url 'api:paysearch' %}">Return Payment Search</a></p>
              
             
              
              
     
        </form>  
    </div>
    {%endfor%}
    <div class="col-md-2"></div>
  </div>
  </div>
  </div>

  </div>
  <!--====== Payment Info End ======-->

</section>

<!-- <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Payment</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">For single degree please pay 5000, for Double degree pay 6000 </p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form method="POST" action="{% url 'api:payment' %}">
        {% csrf_token %} 
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full">
             <div class="relative">
              <label for="message" class="form-control form-control-lg">Name:</label>
              <input type="text" id="name" name="name" class="form-control form-control-lg"  value="{{std_full_name}}">
            </div>  
            <div class="p-2 w-full">
              <div class="relative">
                 <label for="message" class="form-control form-control-lg">Student ID:</label>
                 <input type="number" id="s_id" name="s_id" class="form-control form-control-lg"  value="{{s_id}}">
              </div>
             </div>
          </div>
          <div class="p-2 w-full">
            {% comment %} <div class="relative">
              <label for="message" class="form-control form-control-lg" >Amount:</label>
              <input type="number" id="amount" name="amount" class="form-control form-control-lg">
            </div> {% endcomment %}

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Amount Preference</label>
              <select class="custom-select my-1 mr-sm-2" id="amount" name = "amount">
                <option selected>Choose...</option>
                <option value= 5000 >Single Degree 5000 Tk</option>
                <option value= 6000 >Double digree 6000 TK</option>
              </select>

          </div>
          <div class="p-2 w-full">
            <button class="btn btn-primary">Payment</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section> -->
{% endblock %}