{% extends 'base.html' %}
{% load static %} 
{% block content %}

<section>
  <!--====== Breadcamb Start ======-->
  <div class="breadcamb_area">
          <div class="page_head_bg">
              <div class="page_head">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="page_head_section ptb-70">
                                  <div class="ph_title">
                                      <h2>Registration / Verify yours</h2>
                                  </div>
                                
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!--====== Breadcamb End ======-->

      <div class="payment_info">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                    {% for s in object_list %}
                    {% if s.totalPaid > 5990 %}
                      <form method="POST" action="{% url 'api:registration2' %}">
                      {% csrf_token %} 
                      {% for s in object_list %}
                        <div class="form-group">
                          <label for="message">Student Name:</label>
                          <input type="text" id="name" name="name" class="form-control"  value= {{s.std_full_name}} readonly>
                        </div>  
                        <div class="form-group">
                            <label for="message" >Student ID:</label>
                            <input type="number" id="sid" name="sid" class="form-control"  value="{{s.s_id}}" readonly>
                        </div>
                        <div class="form-group">
                          <label for="message">Father's Name:</label>
                          <input type="text" id="fname" name="fname" class="form-control"  value="" required>
                        </div>  
                        <div class="form-group">
                          <label for="message">Mother's Name:</label>
                          <input type="text" id="mname" name="mname" class="form-control"  value="" required>
                        </div>  
                        <div class="form-group">
                          <label for="message" >Email:</label>
                          <input type="text" id="email" name="email" class="form-control"   value="{{s.email}}" readonly>
                        </div>
                        <div class="form-group">
                          <label for="message" >Cell Phone:</label>
                          <input type="number" id="phone" name="phone" class="form-control"  value = "0" required>
                        </div>
                        
                        
                        
                        <div class="form-group">
                          <label for="message" >Second Mejor ID:</label>
                          <input type="text" id="ssid" name="ssid" class="form-control"   value = "x" required>
                        </div>
                                <div class="form-group">
                                  <select name = "dept" id = "dept" type = "text" class="mb-3 program_select" required>
                                    <option selected>SELECT 2nd MEJOR PROGRAM</option>
                                    <option value="B.Sc. Engg in CSE (Evening)">B.Sc. in CSE (Evening)</option>
                                    <option value="B.Sc. in EEE (Evening)">B.Sc. in EEE (Evening)</option>
                                    <option value="B.Sc. in Civil (Evening)">B.Sc. in Civil (Evening)</option>
                                    <option value="B.Sc. in Textile Engg. (Evening)">B.Sc. in Textile (Evening)</option>
                                    <option value="B.Sc. in CSE">B.Sc. in CSE</option>
                                    <option value="B.Sc. CSIT">B.Sc. CSIT</option>
                                    <option value="B.Sc. EEE">B.Sc. EEE</option>
                                    <option value="B.Sc. in Civil">B.Sc. in Civil</option>
                                    <option value="B.Sc. in Textile Engg.">B.Sc. in Textile</option>
                                    <option value="BBA">BBA</option>
                                    <option value="MBM">MBM</option>
                                    <option value="MBA (Evening)">MBA (Evening)</option>
                                    <option value="EMBA">EMBA</option>
                                    <option value="B.A (Hons) in English">B.A (Hons) in English</option>
                                    <option value="B.Sc (Hons) in Economics">B.Sc (Hons) in Economics</option>
                                    <option value="M.Sc in Economics">M.Sc in Economics</option>
                                    <option value="B.Sc (Hons.) in EDE">B.Sc (Hons.) in EDE</option>
                                    <option value="LL.B (Hons)">LL.B (Hons)</option>
                                    <option value="LL.M (1 Year)">LL.M (1 Year)</option>
                                    <option value="M.Sc. in Mathematics (1 Year)">M.Sc. in Mathematics (1 Year)</option>
                                    <option value="MA in ELT (1 yea)">MA in ELT (1 yea)</option>
                                  </div>
                                </select>
                        
                        <div class="form-group">
                          <label for="message" >Birthday:</label>
                          <input type="date"  id="DOB" name="DOB" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message" >Total Paid:</label>
                            <input type="number" id="totalPaid" name="totalPaid" class="form-control"  value={{s.totalPaid}} readonly>
                        </div>
                    
                          {%endfor%}

                        <div class="form-group col-md-2 pay">
                            <button class="btn btn-primary">Continue</button>
                        </div>
                        
                      </form>
                  
                  {% else %}
                      <form method="POST" action="{% url 'api:registration' %}">
                      {% csrf_token %} 
                      {% for s in object_list %}
                        <div class="form-group">
                          <label for="message">Student Name:</label>
                          <input type="text" id="name" name="name" class="form-control"  value= {{s.std_full_name}} readonly>
                        </div>  
                        <div class="form-group">
                            <label for="message" >Student ID:</label>
                            <input type="number" id="sid" name="sid" class="form-control"  value="{{s.s_id}}" readonly>
                        </div>
                        <div class="form-group">
                          <label for="message">Father's Name:</label>
                          <input type="text" id="fname" name="fname" class="form-control"  value="" required>
                        </div>  
                        <div class="form-group">
                          <label for="message">Mother's Name:</label>
                          <input type="text" id="mname" name="mname" class="form-control"  value="" required>
                        </div>  
                        <div class="form-group">
                          <label for="message" >Email:</label>
                          <input type="text" id="email" name="email" class="form-control"   value="{{s.email}}" readonly>
                        </div>
                        <div class="form-group">
                          <label for="message" >Cell Phone:</label>
                          <input type="number" id="phone" name="phone" class="form-control"  value = "0" required>
                        </div>

                        <div class="form-group">
                          <label for="message" >Birthday:</label>
                          <input type="date"  id="DOB" name="DOB" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message" >Total Paid:</label>
                            <input type="number" id="totalPaid" name="totalPaid" class="form-control"  value={{s.totalPaid}} readonly>
                        </div>

                        <div class="form-group col-md-2 pay">
                            <button class="btn btn-primary">Continue</button>
                        </div>
                        {% endfor %}
                      </form>
                  {% endif %}
                  

                   {% endfor %}
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
        
      </div>
  <!--====== Payment Info End ======-->

</section>

  <!-- <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Payment</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">For single degree please pay 5000, for Double degree pay 6000 </p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form method="POST" action="{% url 'api:payment' %}">
        {% csrf_token %} 
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full">
             <div class="relative">
              <label for="message" class="form-control form-control-lg">Name:</label>
              <input type="text" id="name" name="name" class="form-control form-control-lg"  value="{{std_full_name}}">
            </div>  
            <div class="p-2 w-full">
              <div class="relative">
                 <label for="message" class="form-control form-control-lg">Student ID:</label>
                 <input type="number" id="s_id" name="s_id" class="form-control form-control-lg"  value="{{s_id}}">
              </div>
             </div>
          </div>
          <div class="p-2 w-full">
            {% comment %} <div class="relative">
              <label for="message" class="form-control form-control-lg" >Amount:</label>
              <input type="number" id="amount" name="amount" class="form-control form-control-lg">
            </div> {% endcomment %}

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Amount Preference</label>
              <select class="custom-select my-1 mr-sm-2" id="amount" name = "amount">
                <option selected>Choose...</option>
                <option value= 5000 >Single Degree 5000 Tk</option>
                <option value= 6000 >Double digree 6000 TK</option>
              </select>

          </div>
          <div class="p-2 w-full">
            <button class="btn btn-primary">Payment</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section> -->
{% endblock %}