{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section>
    <!--====== Breadcamb Start ======-->
    <div class="breadcamb_area">
        <div class="page_head_bg">
            <div class="page_head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_head_section ptb-70">
                                <div class="ph_title">
                                    <h2>Registration</h2>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Breadcamb End ======-->
    
    <!--====== Search Start ======-->
    <div class="inner_body ptb-70" >
        <div class="section_title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sec_title search">
                            <h2>Put your <span>Student ID & Transaction ID</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <div class="search_box">
                        <form action = "{% url 'api:paysearchresult' %}" method = "get">
                            <input name = "s_id" id="s_id" type = "text" placeholder = "Ex: 17183203039" class = "from-control" required>
                            <br/>
                            <input name = "t_id" id="t_id" type = "text" placeholder = "Transaction ID" class = "from-control" required>
                            <br/>
                            <button type = "submit" class =  "btn btn-success" > Continue</button>
                             
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--====== Search End ======-->

</section>


{% endblock content %}
