{% extends 'base.html' %} {% load static %} {% block content %}


	<section>
		<!--====== Breadcamb Start ======-->
		<div class="breadcamb_area">
            <div class="page_head_bg">
                <div class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page_head_section ptb-70">
                                    <div class="ph_title">
                                        <h2>Thanks for Registration </h2>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<!--====== Breadcamb End ======-->
    <!--====== Search Start ======-->
    <div class="inner_body ptb-70" >
        <div class="section_title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sec_title search">
                        {% if error %}
                        <h2>Sorry {{name}} !! <span> please provide valid information.</span></h2>
                        {% else %}
                        
                            <h2>Thank you {{name}}, <span> please check your email.</span></h2>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
		<!--====== Form Start ======-->
        {% comment %} <section>
		 <div class="registration_area ptb-60">
            <div class="form_holder">
                <form id="msform">
                    <ul id="progressbar">
                        <li class="active">1. Study Program</li>
                        <li>2. Verify Eligibility</li>
                        <li>3. Payment Verify</li>
                        <li>4. Student Details</li>
                    </ul>
                  
                    <fieldset>
                        <h2 class="fs-title">Dergee Information</h2>
                        <h3 class="fs-subtitle">This is step 1</h3>
                        <div class="form-check check_width">
                            <input type="checkbox" name="graduate" value="Graduate"/>
                            <label for="graduate">Graduate</label>
                        </div>
                        <div class="form-check check_width">
                            <input type="checkbox" name="undergraduate" value="Undergraduate"/>
                            <label for="undergraduate">Undergraduate</label>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Verify Eligibility</h2>
                        <h3 class="fs-subtitle">This is step 2</h3>
                        <input type="text" name="sid" placeholder="Student ID" required/>
                        <input type="date" name="dob" placeholder="Date of Birth" />
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Payment Confirmation</h2>
                        <h3 class="fs-subtitle">This is step 3</h3>
                        <input type="text" name="txid" placeholder="Transaction ID" />
                        <input type="text" name="tx_no" placeholder="Transaction No" />
                        <input type="datetime-local" name="tx_time" placeholder="Transaction Time" />
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Student Details</h2>
                        <h3 class="fs-subtitle">This is step 3</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="s_name" placeholder="Student Name" />
                            </div>
                            <div class="col-md-6">
                                <select class="form-select form-select-lg mb-3 program_select" aria-label=".form-select-lg example">
                                    <option selected>Select Your Program</option>
                                    <option value="1">B.Sc. in CSE</option>
                                    <option value="2">B.Sc. in EEE</option>
                                    <option value="3">B.Sc. in Civil</option>
                                    <option value="3">B.Sc. in Textile</option>
                                    <option value="3">BBA</option>
                                    <option value="3">MBA</option>
                                    <option value="3">BA (Hons) in English</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="f_name" placeholder="Father Name" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="m_name" placeholder="Mother Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" name="intake" placeholder="Intake"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="section" placeholder="Section" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Provide Your Email" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="phone" placeholder="Contact Number" />
                            </div>
                        </div>
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>
            </div>
            </div>  
		

	    </section> {% endcomment %}
        <!--====== Form End ======-->
    {% endblock %}

  <!-- <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Donate</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form method="POST" action="{% url 'donationapp:donate' %}">
        {% csrf_token %}
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Name:</label>
              <input type="text" id="name" name="name" class="mt-4 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-14 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Amount:</label>
              <input type="number" id="amount" name="amount" class="mt-4 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-14 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Noman</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section> -->

	