{% extends 'base.html' %}

{% block title %} Registration Success {% endblock %}

{% block content %}


<section>
    <!--====== Breadcamb Start ======-->
    <div class="breadcamb_area">
        <div class="page_head_bg">
            <div class="page_head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_head_section ptb-70">
                                <div class="ph_title">
                                    <h2>Registration Successful</h2>
                                </div>
                                <div class="ph_menu">
                                    <h5><a href="">Registration</a></h5>
                                    <h5>/</h5>
                                    <h5>Search Eligiblity</h5>
                                    <h5>/</h5>
                                    <h5>Payment</h5>
                                    <h5>/</h5>
                                    <h5>Success</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Breadcamb End ======-->

    <!--====== Success Payment Start ======-->
    <div class="payment_success ptb-70">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <div class="success_message">
                        <h5>Name: <strong>{{name | safe}}</strong></h5> 
                        <h5>ID: <strong>{{sid | safe}}</strong></h5>
                        <h5>Department: <strong>{{dept | safe}}</strong></h5> 
                        <h5>Intake: <strong>{{intake | safe}}</strong></h5>  
                        <h5>Total Paid: <strong>{{totalPaid | safe}}</strong></h5>  
                        <h5>Email: <strong>{{email | safe}}</strong></h5> 
                        <p>Please check this email inbox or spam box</p>
                        <div class="alert alert-success">
                           <p> <strong>Registration Successfull!</strong> </p>.
                        </div>
                        <h4><a href="{% url 'api:schedule' %}" target = "_blank"> Convocation Program Schedule! -></a> <h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Success Payment End ======-->

</section>


{% endblock content %}