{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% csrf_token %}

<section>
    <!--====== Breadcamb Start ======-->
    <div class="breadcamb_area">
        <div class="page_head_bg">
            <div class="page_head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_head_section ptb-70">
                                <div class="ph_title">
                                    <h2>Eligible for Convocation</h2>
                                </div>
                                <div class="ph_menu">
                                    <h5><a href="">Registration</a></h5>
                                    <h5>/</h5>
                                    <h5>Eligible Students</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Breadcamb End ======-->


    <!--====== List Start ======-->
    <div class="eligible_list_section ptb-60" >
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="eligible_stu">
                        <div class="lab_lists table-responsive ">
                        {% if not object_list %}
                                    
                               
                                <div><h4>Sorry! Student is not Eligible for this Convocation.</h4></div>
                                <div><h4>Or</h4></div>
                                <div><h4>Registration limit over for this Convocation.</h4></div>
                                {% else %}
                            <table class="table table-striped">
                                <tr >
                                    <th>Intake</th>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Program</th>
                                    <th>Action</th>
                                </tr>
                                {% for student in object_list %}
                                  
                                        <tr>
                                        <td>{{ student.intake |safe}}</td>
                                        <td>{{student.s_id|safe}}</td>
                                        <td>{{student.std_full_name|safe}}</td>
                                        <td>{{student.p_usename|safe}}</td>

                                        
                                            {% if not student.hasPaid %}
                                                <td><a class="btn btn-success btn-sm" role="button" href="{% url 'api:reg2' student.s_id %}">Payment</a></td>
                                            {% else %}
                                                <td>Payment Done</td>
                                            {% endif %}
                                            {% comment %} {% endif %} {% endcomment %}
                                     
                                        </tr>
                                 
                                {% endfor %}

                               
                                

                                {% endif %}


                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <!--====== List End ======-->


</section>



{% endblock content %}


