{% extends 'base.html' %} {% load static %} {% block content %}

	<section>
		<!--====== Breadcamb Start ======-->
		<div class="breadcamb_area">
            <div class="page_head_bg">
                <div class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page_head_section ptb-70">
                                    <div class="ph_title">
                                        <h2>BUBT 2nd Convocation</h2>
                                    </div>
                                    <div class="ph_menu">
                                        <h5><a href="">Convocation</a></h5>
                                        <h5>/</h5>
                                        <h5>2nd Convocation</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--====== Breadcamb End ======-->

		<!--====== List Start ======-->
		<div class="inner_body" style="height: 500px;">
            <h2  style="text-align: center; padding-top: 200px; color: #1872CC;">This Section is Under Development!</h2>
        </div>
        {% for post in posts %}
             {{post.title}}
             {% if post.photo %}
             {{post.photo}}
             {% endif %}
             {{post.details}}
        {% endfor %}
		<!--====== List End ======-->

	</section>

	{% endblock %}