{% extends 'base.html' %} {% load static %} {% block content %}

	<section>
		<!--====== Breadcamb Start ======-->
		<div class="breadcamb_area">
            <div class="page_head_bg">
                <div class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page_head_section ptb-70">
                                    <div class="ph_title">
                                        <h2>Eligible for Convocation</h2>
                                    </div>
                                    <div class="ph_menu">
                                        <h5><a href="">Registration</a></h5>
                                        <h5>/</h5>
                                        <h5>Eligible Students</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--====== Breadcamb End ======-->

		<!--====== List Start ======-->
		<div class="eligible_list_section ptb-60" >
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="eligible_stu">
                            <div class="lab_lists table-responsive">
                                <table class="table table-striped">
                                    <tr >
                                        <th>Intake</th>
                                        <th>Student ID</th>
                                        <th>Name</th>
                                        <th>Program</th>
                                       
                                    </tr>
                                    {% for s in students %}
                                    <tr>
                                        <td>{{ s.intake |safe }}</td>
                                        <td>{{ s.s_id |safe }}</td>
                                        <td>{{ s.std_full_name |safe}}</td>
                                        <td>{{ s.p_usename |safe }}</td>
                                    </tr>
                                   {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
		<!--====== List End ======-->

	</section>

	{% endblock %}