{% extends 'base.html' %} {% load static %} {% block content %}
<head>
	{% for post in posts %}
	<script>
		window.onload = function () {
		
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			
			axisY: {
				title: "Graduates (in number)",
				suffix: ""
			},
			axisX: {
				title: "Convocation"
			},
			data: [{
				type: "column",
				yValueFormatString: "#,##0",
				dataPoints: [
					{ label: "{{post.title}}", y: 3653, indexLabel: "3653" },	
					{ label: "{{post.title}}", y: 3950, indexLabel: "3950"  },	
					{ label: "{{post.title}}", y: 5200, indexLabel: "5200"  },
					{ label: "{{post.title}}", y: 5932, indexLabel: "5932"  },	
					{ label: "{{post.title}}", y: 6400, indexLabel: "6400"  }
					
				]
			}]
		});
		chart.render();
		
		}
		</script>
		{% endfor %}
</head>
	<section>
		<!--====== Slider Start ======-->
		<!-- Start of slider area -->
        <div class="slider-area">
            <div class="slider_active owl-carousel">
                <div class="single_slider">
                    <div class="slider_img">
                        <img src="{% static 'img/slider/cc.jpg' %}" alt="">
                    </div>
                    <div class="slider_text ">
                        <div class="s_meta">
							<p>BUBT</p> 
							<h2 id="slide-title">5th <br>Convocation</h2>
						</div>
						<div class="s_meta">
							<p>Guests</p> 
							<h2 id="slide-status">Dr. Dipu Moni</h2>
						</div>
                    </div>
                </div>
                <div class="single_slider">
                    <div class="slider_img">
                        <img src="{% static 'img/slider/ff.jpg' %}" alt="">
                    </div>
                    <div class="slider_text">
                        <div class="s_meta">
							<p>BUBT</p> 
							<h2 id="slide-title">4th <br>Convocation</h2>
						</div>
						<div class="s_meta">
							<p>Guests</p> 
							<h2 id="slide-status">Adv. Abdul Hamid</h2>
						</div>
                    </div>
                </div>
                <div class="single_slider">
                    <div class="slider_img">
                        <img src="{% static 'img/slider/dd.jpg' %}" alt="">
                    </div>
                    <div class="slider_text ">
                        <div class="s_meta">
							<p>BUBT</p> 
							<h2 id="slide-title">3rd <br>Convocation</h2>
						</div>
						<div class="s_meta">
							<p>Guests</p> 
							<h2 id="slide-status">Dr. Dipu Moni</h2>
						</div>
                    </div>
                </div>
                <div class="single_slider">
                    <div class="slider_img">
                        <img src="{% static 'img/slider/gg.jpg' %}" alt="">
                    </div>
                    <div class="slider_text ">
                        <div class="s_meta">
							<p>BUBT</p> 
							<h2 id="slide-title">5th <br>Convocation</h2>
						</div>
						<div class="s_meta">
							<p>Guests</p> 
							<h2 id="slide-status">Dr. Dipu Moni</h2>
						</div>
                    </div>
                </div>
            </div>
			
        </div>
        <!-- End of slider area -->
		<!-- <div class="slider_sec">
			<main>
				<div id="slider">
					{% for post in slider %} 
					<div class="slider-inner">
						<div id="slider-content">
							<div class="meta">Convocation</div>
							<h2 id="slide-title">{{post.title|linebreaksbr}}<br></h2>
							<span data-slide-title="0">{{post.title|linebreaksbr}}</span>
							<div class="meta">Guest</div>
							<div id="slide-status">{{post.guest}}</div>
						</div>
					</div>
					{% if post.photo %}
					<img src="{{ post.photo.url }}" />
					{% endif %}
		
					<div id="pagination">
						<button class="active" data-slide="0"></button>
						<button data-slide="1"></button>
						<button data-slide="2"></button>
						<button data-slide="3"></button>
					</div>
					{% endfor %}
				</div>
			</main>
		</div> -->
		<!--====== Slider End ======-->
		<!--====== Counter Start ======-->
		<div class="counter_sec ptb-80">
			<div class="sidebar">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="edu2_training_wrap ptb-50">
								<strong class="conv_num">5th Convocation</strong>
								<!--COUNTDOWN START-->
								<ul class="countdown countdown_" data-countdown="2021/10/01">
									<!-- $('[data-countdown]').each(function() {
										var $this = $(this), finalDate = $(this).data('countdown');
											$this.countdown(finalDate, function(event) {
											$this.html(event.strftime(
												' -->
												<li class="countdown-body countdown-day bdr_color1">
													<span class="days countdown-count">128</span>
													<p class="days_ref">days</p>
												</li>
												<li class="countdown-body countdown-hour bdr_color2">
													<span class="hours countdown-count">20</span>
													<p class="hours_ref">hours</p>
												</li>
												<li class="countdown-body countdown-minutes bdr_color3">
													<span class="minutes countdown-count">45</span>
													<p class="minutes_ref">minutes</p>
												</li>
												<li class="countdown-body countdown-seconds bdr_color4">
													<span class="seconds last countdown-count">51</span>
													<p class="seconds_ref">seconds</p>
												</li>
												<!-- '
												)
											);
										});
									}); -->
								</ul>
								<!-- <ul class="countdown_" data-countdown="2021/10/01">
									//countdown activation start
									$('[data-countdown]').each(function() {
										var $this = $(this), finalDate = $(this).data('countdown');
											$this.countdown(finalDate, function(event) {
											$this.html(event.strftime(
												'
													<li class="countdown-body countdown-day">
														<span class="days countdown-count">%-D</span>
														<p class="days_ref">days</p>
													</li>
													<li class="countdown-body countdown-hour">
														<span class="hours countdown-count">%-H</span>
														<p class="hours_ref">hours</p>
													</li>
													<li class="countdown-body countdown-minutes">
														<span class="minutes countdown-count">%M</span>
														<p class="minutes_ref>minutes</p>
													</li>
													<li class="countdown-body countdown-seconds">
														<span class="seconds last countdown-count">%S</span>
														<p class="seconds_ref">seconds</p>
													</li>'
												)
											);
										});
									});
								
								
								
								</ul> -->
								<!--COUNTDOWN END-->
								<strong>It’s limited Seating! Hurry up</strong>
								<!-- <a href="https://admission.bubt.edu.bd/" target="_blank" class="btn-1">REGISTER NOW</a> -->

								
							</div>
							<div class="loc_time">
								<h6>BUBT 5th Convocation</h6>
								<h3 style="color: #3AA99E;"><em>5th January 2022</em></h3>
								<h5>Bangabandhu International Conference Center</h5>
							</div>
						</div>
						<div class="col-md-6">
							<div class="vc_message">
								<div class="sec_title search">
									<h2>From <span>Vice Chancellor</span></h2>
								</div>
								<div> 
									<img src= "{% static 'img/guests/vc.jpg' %}" alt="Photo"> 
								</div>
								<p>
									Bangladesh University of Business and Technology (BUBT) is one of the top-ranking universities in Bangladesh which started its journey in the year 2003. I am happy to present to you our university and welcome you to be involved in the progress of the university as its stakeholders. Over the last 17 years, BUBT has grown its stature and is now regarded as a globally recognized university. It is now members of prestigious organizations like Association of Commonwealth Universities, the Association of International Universities and the Association of Management Development institutions in South Asia.

At present BUBT offers 20 different undergraduate and post graduate programs under five faculties namely: i) Faculty of Business ii) Faculty of Engineering and Applied Sciences iii) Faculty of Arts & Humanities iv) Faculty of Social Sciences and v) Faculty of Law. Very soon, BUBT is going to start B.Sc in Civil Engineering with the approval  from the University Grants Commission (UGC).
								</p>
								<a href="#">Read More<i class="fas fa-angle-double-right"></i></a>
							</div>
							</div>
							<!-- <div class="grad_qoute fadein">
								<p>"When life gives us a second chance, we should not wait to grab it and make the best use of it." <br>
								<span>-<strong>Md. Abdullah Al Noman</strong><br>30 Intake, B.Sc. Engg in CSE</span></p>

								<p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta inventore nulla possimus. Consequuntur illum id itaque laborum qui corrupti. Animi nisi expedita iste dolor quis blanditiis ab hic commodi. " <br>
									<span>-<strong>Md. Abdullah Al Noman</strong><br>30 Intake, B.Sc. Engg in CSE</span></p>

								<p>"When life gives us a second chance, we should not wait to grab it and make the best use of it." <br>
										<span>-<strong>Prosanto</strong><br>30 Intake, B.Sc. Engg in CSE</span></p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Counter End ======-->
		<!--====== Message Start ======-->
		<!-- <div class="message_sec ptb-80">
			<div class="section_title">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="sec_title pb-30">
								<h2>Message From <span>Guests</span></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="message_body">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="msge_cart">
								<img src="{% static 'img/guests/1.jpg' %}" alt="">
								<div class="msge_info">
									<h4>M Abdul Hamid</h4>
									<h6>President of The Republic of Bangladesh</6>
									<h5><i class="fas fa-microphone"></i> Cheif Guest</h5>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit perferendis autem nemo! Velit eligendi qui explicabo. Inventore aperiam, ad obcaecati iure illum, ab saepe illo a corporis praesentium error? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum iure quia ex magnam eveniet alias dolores, quo cum obcaecati et iste ab nisi ad maiores consequuntur natus, reprehenderit beatae possimus.</p>
									<a href="speech_detail.html">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="msge_cart">
								<img src="{% static 'img/guests/2.jpg' %}" alt="">
								<div class="msge_info">
									<h4>Mr. Rayan Peter</h4>
									<h6>Chancellor ABC International University</6>
									<h5><i class="fas fa-microphone"></i> Keynote Speaker</h5>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit perferendis autem nemo! Velit eligendi qui explicabo. Inventore aperiam, ad obcaecati iure illum, ab saepe illo a corporis praesentium error? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum iure quia ex magnam eveniet alias dolores, quo cum obcaecati et iste ab nisi ad maiores consequuntur natus, reprehenderit beatae possimus.</p>
									<a href="speech_detail.html">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="msge_cart">
								<img src="{% static 'img/guests/3.jpg' %}" alt="">
								<div class="msge_info">
									<h4>Marina Ethan</h4>
									<h6>Vice-Chancellor ABC International University</6>
									<h5><i class="fas fa-microphone"></i> Keynote Speaker</h5>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit perferendis autem nemo! Velit eligendi qui explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fuga deleniti. Iste, corporis autem neque obcaecati nam consectetur nesciunt quaerat minus, excepturi vero cupiditate atque recusandae adipisci velit quidem et. Inventore aperiam, ad obcaecati iure illum, ab saepe illo a corporis praesentium error? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum iure quia ex magnam eveniet alias dolores, quo cum obcaecati et iste ab nisi ad maiores consequuntur natus, reprehenderit beatae possimus.</p>
									<a href="speech_detail.html">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--====== Message End ======-->
		<!--====== Chart Start ======-->
		<div class="chart_area ptb-80">
			<div class="section_title">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="sec_title ">
								<h2><span>BUBT</span> All time graduates</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="chartContainer" style="height: 300px; width: 100%;"></div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Chart End ======-->

		
	</section>

	{% endblock %}
