{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<br/>
<br/>
<br/>
<h2>Search</h2>

{% for student in object_list %}
    
        {% if student.s_id %}
            <li> {{student.p_usename}}, {{student.s_id}}, {{student.std_full_name}} <a href="{% url 'api:reg' student.s_id student.std_full_name %}">Payment</a></li>
    
        {% else %}  
            <br/>  
            <br/>  
            <br/>
              <h4> You are not eligible for this convocation</h4>
        {% endif %}
    


{% endfor %}




{% endblock content %}
