{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <!--====== Breadcamb Start ======-->
    <div class="breadcamb_area">
        <div class="page_head_bg">
            <div class="page_head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_head_section ptb-70">
                                <div class="ph_title">
                                    <h2>Admin Login</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Breadcamb End ======-->

<!--======  Start ======-->
<div class="admin_login_area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="login_era">
                    <div class="login_era_left">
                        <form method="POST">
                            {{ form|crispy }}
                            {% csrf_token %}
                            <!-- <button type="submit" class="btn btn-primary btn-sm">Log In</button> -->
                            <div class="wrapper  loginbtn">
                                <a href="">
                                    <button type="submit">
                                        Login
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="login_era_right">
                        <h3>Welcome to login</h3>
                        <p>Bubt Convocation</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>



<!--====== List End ======-->







{% endblock content %}