{% extends 'base.html' %}

{% block title %} Failed {% endblock %}

{% block content %}

<section class="ptb-70">
  <!--====== Breadcamb Start ======-->
  <div class="breadcamb_area">
      <div class="page_head_bg">
          <div class="page_head">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="page_head_section ptb-70">
                              <div class="ph_title">
                                  <h2>Payment Successful</h2>
                              </div>
                              <div class="ph_menu">
                                  <h5><a href="">Registration</a></h5>
                                  <h5>/</h5>
                                  <h5>Search Eligiblity</h5>
                                  <h5>/</h5>
                                  <h5>Payment</h5>
                                  <h5>/</h5>
                                  <h5>Failed</h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--====== Breadcamb End ======-->

  <!--====== Payment Failed Start ======-->
  <div class="payment_success ptb-70">
      <div class="container">
          <div class="row">
              <div class="col align-self-center">
                  <div class="success_message">
                      <h4>Opss!!!</h4>
                      <div class="alert alert-danger">
                        <strong>Payment Failed!</strong>&nbsp;&nbsp; You should <a href="{% url 'api:search' %}" class="alert-link">Payment Again</a>.
                      </div>
                      <h4><a href="{% url 'api:search' %}">Pay First</a> <h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--====== Payment Failed End ======-->

</section>

{% endblock %}