{% extends 'base.html' %}

{% block title %} Payment {% endblock %}

{% block content %}

<section>
  <!--====== Breadcamb Start ======-->
  <div class="breadcamb_area">
          <div class="page_head_bg">
              <div class="page_head">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="page_head_section ptb-70">
                                  <div class="ph_title">
                                      <h2>Payment Method</h2>
                                  </div>
                                  <div class="ph_menu">
                                      <h5><a href="">Registration</a></h5>
                                      <h5>/</h5>
                                      <h5>Search Eligiblity</h5>
                                      <h5>/</h5>
                                      <h5>Payment</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!--====== Breadcamb End ======-->

  <!--====== Payment Info Start ======-->
      <div class="payment_area ptb-70">
        <div class="section_title">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="sec_title search">
                          <h2>Payment <span>Information</span></h2>
                          <p class="notify">For single degree please pay 5000, for Double degree pay 6000 </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
       
      <div class="payment_info">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <form method="POST" action="{% url 'api:payment' %}">
                {% csrf_token %} 
                <div class="form-group">
                  <label for="message">Student Name:</label>
                  <input type="text" id="name" name="name" class="form-control"  value="{{std_full_name}}" readonly>
                </div>  
                <div class="form-group">
                    <label for="message" >Student ID:</label>
                    <input type="text" id="s_id" name="s_id" class="form-control"  value="{{s_id}}" readonly>
                </div>
                <div class="form-group">
                  <label for="message" >Email:</label>
                  <input type="text" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="message" >Phone:</label>
                  <input type="text" id="phone" name="phone" class="form-control" maxlength="11" required>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAmount">Amount Preference:</label>
                      <select class="form-control" id="paidfor" name = "paidfor" onchange="showDiv(this)" required>
                        <option selected>Select Amount</option>
                        <option value = 1 >Single Degree Tk.5000</option>
                        <option value = 2 >Double Degree Tk.6500</option>
                      </select>
                  </div>
                  <div class="form-group col-md-4">
                  <div id="hidden_div" style="display:none;">
                  
                    <label for="message" >Student ID for End Degree:</label>
                    <input type="text" id="sid2" name="sid2" class="form-control" maxlength="11" value = "" >
                 
                  </div>
                  </div>
                  <div class="form-group col-md-2 pay">
                    <button class="btn btn-primary">Registration</button>
                  </div>
                </div>
            </form>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
        
      </div>
  <!--====== Payment Info End ======-->

</section>


<script type="text/javascript">
function showDiv(select){
   if(select.value==2){
    document.getElementById('hidden_div').style.display = "block";
   } else{
    document.getElementById('hidden_div').style.display = "none";
   }
} 
</script>


{% endblock %}