{% extends 'base.html' %}

{% block title %} Payment Success {% endblock %}

{% block content %}


<section>
    <!--====== Breadcamb Start ======-->
    <div class="breadcamb_area">
        <div class="page_head_bg">
            <div class="page_head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_head_section ptb-70">
                                <div class="ph_title">
                                    <h2>Payment Successful</h2>
                                </div>
                                <div class="ph_menu">
                                    <h5><a href="">Registration</a></h5>
                                    <h5>/</h5>
                                    <h5>Search Eligiblity</h5>
                                    <h5>/</h5>
                                    <h5>Payment</h5>
                                    <h5>/</h5>
                                    <h5>Success</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Breadcamb End ======-->

    <!--====== Success Payment Start ======-->
    <div class="payment_success ptb-70">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <div class="wrapperAlert">
                        <div class="contentAlert">
                            <div class="topHalf">
                                <p>
                                    <svg viewBox="0 0 512 512" width="100" title="check-circle">
                                        <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                    </svg>
                                </p>
                                <h1>Payment Success!</h1>
                                <ul class="bg-bubbles">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        
                            <div class="bottomHalf">
                                <div class="success_message">
                                    <h5>Name: <strong>{{name | safe}}</strong></h5> 
                                    <h5>ID: <strong>{{s_id | safe}}</strong></h5>
                                    <h5>Amount: <strong>Tk. {{totalPaid | safe}}</strong></h5>  
                                    <h5>Transition ID: <strong>{{tran_id | safe}}</strong></h5>  
                                    <h5>Email: <strong>{{email | safe}}</strong></h5> 
                                    <p class="notify">please check this email inbox or spam box</p>
                                </div>
                                <div class="wrapper">
                                    <a href="{% url 'api:paysearch' %}" target="_blank">
                                        <button>
                                            Register Now!
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
    <!--====== Success Payment End ======-->

</section>

  
{% endblock content %}