{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block container %}

     {% comment %}
        <form method="POST">
            {% csrf_token %}
                Reset Password
                {% for non_field_error in form.non_field_errors %}
        <p>{{ non_field_error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-control">
        <label class="label">
            {{ field.label_tag }}
        </label>
        {{ field }}
        {% for error in field.errors %}
            <p>
                {{ error }}
            </p>
        {% endfor %}
        </div>
    {% endfor %} {% endcomment %}
    {% comment %} <div class="form-group">  
                        <label for="username">User Name:</label>  
                        <input type="text" class="form-control" id="username" placeholder="Enter User name"  
      name="first_name">  
                    </div>
    <div id="button">
        <button type="submit">Request Password Reset</button>
    </div> 
        </form>
        {% endcomment %}
        <form method="post">  
                    {% csrf_token %}  
                    <div class="form-group">  
                        <label for="first_name">First Name:</label>  
                        <input type="text" class="form-control" id="first_name" placeholder="Enter first name"  
      name="first_name">  
                    </div>  
                    <div class="form-group">  
                        <label for="last_name">Last Name:</label>  
                        <input type="text" class="form-control" id="last_name" placeholder="Enter last name"  
      name="last_name">  
                    </div>  
                    <div class="form-group">  
                        <label for="username">Username:</label>  
                        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">  
                    </div>  
                    <div class="form-group">  
                        <label for="email">Email:</label>  
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">  
                    </div>  
                    <div class="form-group">  
                        <label for="pwd1">Password:</label>  
                        <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="password1">  
                    </div>  
                    <div class="form-group">  
                        <label for="pwd2">Confirm Password:</label>  
                        <input type="password" class="form-control" id="pwd2" placeholder="Reenter password"  
      name="password2">  
                    </div>  
                    <button type="submit" class="btn btn-primary">Submit</button>  
                </form>  
{% endblock container %}